*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  background-color: #faf8f3;
  color: #0f0f0ec6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Macondo';
  src: url("./fonts/macondo/Macondo-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/roboto/Roboto-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/roboto/Roboto-Italic.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

h2 {
  font-family: "Macondo", sans-serif;
  font-size: 70px;
  color: black;
  line-height: 1.2;
}

.highlight {
  font-family: "Macondo", sans-serif;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  padding: 10px;
  font-family: "Macondo", sans-serif;
}


.navBarList {
  display: flex;
  gap: 30px;
}

.navBarList button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 22px;
}

.navBarList button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.form-contact {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.form-reserv {
  background-color: #faf8f3;
  color: #0f0f0ec6;
  border: 1px solid #978b6e;
}

.bg-img-meet {
  background-image: url('./assets/vase.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.bg-img-dine {
  background-image: url('./assets/yurt.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 45vh;
}

.bg-img-visit {
  background-image: url('./assets/reservation.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 56.2vh;
}

.footer-cont {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
}

.footer-cont a {
  color: white;
  text-decoration: none;
  font-family: "Macondo", sans-serif;
}

.footer-cont p {
  color: white;
  font-family: "Macondo", sans-serif;
  font-size: 12px;
}

.footer-cont a:hover {
  color: rgba(255, 255, 255, 0.4);
}

footer {
  margin-top: 85px;
  background-color: rgba(0, 0, 0, 0.7);
}

.main-dine {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}

.main-cont {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  align-content: center;
  justify-content: center;
  gap: 100px;
  padding: 100px 100px 12px 100px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


.text-h2-header {
  color: #cab98f;
  line-height: 1;
  font-size: 14px;
}

.text-cont img {
  border: 1px solid #978b6e;
  border-radius: 6px;
}

span {
  color: #978b6e;
  font-size: 11px;
}

label {
  padding: 3px;
}

.submitBtn {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Macondo", sans-serif;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}